@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");

:root {
	interpolate-size: allow-keywords;
}

* {
	/* Global Colors */
	--text-color-light: rgba(255, 255, 255, 1);
	--text-color-dark: rgb(49, 49, 49);
	--bg-color: rgba(17, 96, 81, 0.9);
	--primary-color: rgba(244, 125, 154, 1);
	--secondary-color: rgba(243, 166, 78, 1);
	--tertiary-color: rgba(255, 244, 226, 1);

	/* General */
	font-family: "Epilogue", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 1.005em;
	line-height: 1.75;
	color: var(--text-color-light);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
	height: auto;
	position: relative;
}

body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

main {
	background-color: var(--bg-color);
	box-shadow: 0px 0px 15px black;
	max-width: 1500px;
	padding: 40px 75px;
	z-index: -1;
}

/* Background images */

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -999;
}

#bgi-home {
	background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 70%, var(--bg-color)),
		url("./assets/raw/bg/bamboo.jpg");
}

#bgi-services {
	background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 70%, var(--bg-color)),
		url("./assets/raw/bg/forest-floor.jpg");
}

#bgi-about {
	background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 70%, var(--bg-color)),
		url("./assets/raw/bg/lake-pier.jpg");
}

#bgi-consulting {
	background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 70%, var(--bg-color)),
		url("./assets/raw/bg/rocky-beach.jpg");
}

/* Navigation */

header {
	height: 100px;
	width: 100%;
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--bg-color);
	background-color: var(--tertiary-color);
	position: sticky;
	top: 0;
}

header * {
	line-height: 0;
}

header ul {
	list-style: none;
	display: flex;
}

nav li {
	cursor: pointer;
	margin: 0;
	padding: 0;
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	background-color: rgba(255, 255, 255, 0);
}

nav li:hover {
	transform: scale(1.05);
}

nav li:active {
	transform: scale(0.97);
}

#nav-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-logo-container img {
	height: 60px;
	width: auto;
	border: none;
	box-shadow: none;
}

#nav-logo-container h3 {
	padding-left: 10px;
}

.nav-link {
	padding: 5px 10px;
}

header *,
.nav-link:link,
.nav-link:visited {
	color: var(--secondary-color);
	font-weight: 800;
}

#book-now-btn {
	color: var(--tertiary-color);
	background-color: var(--secondary-color);
	padding: 10px 15px;
	margin-left: 5px;
	border-radius: 10px;
	border: 1px 1px solid black;
}

/* Headers */

h1 {
	font-size: 2.5em;
	margin: 50px 0;
	text-shadow: 2px 2px 3px var(--text-color-dark);
}

h2 {
	font-size: 1.8em;
	margin: 40px 0;
	color: var(--primary-color);
	text-shadow: 1px 1px 1px black;
}

h3 {
	font-size: 1.25em;
}

h1,
h3 {
	color: var(--secondary-color);
}

/* General */

hr {
	margin: 50px 0;
}

p {
	font-weight: 400;
	margin: 20px 0;
}

img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

li {
	margin-left: 30px;
	padding-left: 10px;
}

/* Inputs */

a,
a:link,
a:visited {
	text-decoration: none;
	font-weight: 500;
	color: var(--text-color-dark);
}

.btn-link,
.btn-link:link,
.btn-link:visited {
	padding: 10px 15px;
	display: inline-block;
	background-color: var(--primary-color);
	border: 0.5px solid black;
	border-radius: 10px;
	font-style: italic;
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
	font-family: "Zalando Sans Expanded", sans-serif;
	font-weight: 800;
	color: var(--text-color-light);
}

.btn-link:hover {
	transform: scale(1.05);
}

.btn-link:active {
	transform: scale(0.97);
}

/* Summary Container */

.summary-container,
.summary-container-rev {
	display: grid;
	gap: 100px;
}

.summary-container {
	grid-template-columns: 2fr 1fr;
}

.summary-container-rev {
	grid-template-columns: 1fr 2fr;
}

/* Info Container */

.info-header {
	text-align: center;
	font-size: 1.4em;
	font-style: italic;
	margin: 30px 0;
}

.info-container {
	margin-bottom: 20px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.info-sub-container {
	height: 100%;
	border-radius: 10px;
	background-color: var(--tertiary-color);
	padding: 20px;
}

.info-sub-container * {
	color: var(--text-color-dark);
}

.info-sub-container h3 {
	font-size: 1.6em;
	font-weight: 600;
	text-align: center;
	color: var(--secondary-color);
	text-shadow: 1px 1px 1px lightgray;
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
	margin: 20px 0;
}

.info-sub-container p {
	text-align: center;
}

.info-sub-container p:nth-of-type(1) {
	font-size: 1.1em;
	font-weight: 600;
}

.info-sub-container > p:first-child {
	color: var(--secondary-color);
	text-shadow: 1px 1px 1px lightgray;
}

.info-sub-container:has(> p:first-child) {
	display: grid;
	align-items: center;
}

/* Dropdowns */

.dropdown-container,
.dropdown-container-rev {
	display: grid;
	gap: 20px;
}

.dropdown-container {
	grid-template-columns: 3fr 1fr;
}

.dropdown-container-rev {
	grid-template-columns: 1fr 3fr;
}
.dropdown-container details:first-of-type,
.dropdown-container-rev details:first-of-type {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.dropdown-container details:last-of-type,
.dropdown-container-rev details:last-of-type {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

details {
	background-color: var(--tertiary-color);
	border-bottom: 1px solid black;
	padding: 20px 15px 15px 15px;
}

details *:not(summary) {
	color: var(--text-color-dark);
}

details ul {
	list-style: none;
}

details li {
	padding: 5px 0;
}

details li:first-child {
	padding-top: 20px;
}

[open]::details-content {
	height: auto;
}

::details-content {
	transition:
		height 0.5s ease,
		content-visibility 0.5s ease allow-discrete;
	height: 0;
	overflow: clip;
}

details summary {
	cursor: pointer;
	list-style-type: none;
	font-size: 1.4em;
	height: 25px;
	color: var(--secondary-color);
	text-shadow: 1px 1px 1px lightgray;
	font-weight: 600;
	display: flex;
	align-items: center;
}

details[open] summary::before {
	content: "-";
	width: 30px;
	font-size: 1.4em;
	font-weight: 800;
}

details:not([open]) summary::before {
	content: "+";
	width: 30px;
	font-size: 1.4em;
	font-weight: 800;
}

/* Footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--tertiary-color);
	border-top: 1px solid var(--bg-color);
	width: 100%;
	padding: 20px 0;
}

#footer-container {
	padding: 0 75px;
	width: 1500px;
}

#footer-header-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid gray;
	margin-bottom: 40px;
}

#footer-header-container h2 {
	margin: 30px 0;
	color: var(--primary-color);
	text-align: center;
	line-height: 30px;
}

footer *:not(a) {
	color: var(--text-color-dark);
}

footer a {
	color: var(--secondary-color);
}

#footer-contact-container {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}

#footer-contact-container div {
	display: flex;
	flex-direction: column;
}

#footer-contact-container div:last-child {
	align-items: flex-end;
}

#footer-contact-container img {
	height: auto;
	width: 200px;
}

#footer-contact-container div:has(> img) {
	align-self: center;
}

#footer-contact-container div p,
#footer-contact-container div a {
	margin: 0;
	color: var(--secondary-color);
	font-weight: 600;
}

/* Home Styles */

#home-header {
	font-size: 3em;
}
