@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");

:root {
	interpolate-size: allow-keywords;
}

* {
	/* Global Colors */
	--text-color-light: rgba(255, 255, 255, 1);
	--text-color-dark: rgb(49, 49, 49);
	--bg-color: rgba(17, 96, 81, 0.9);
	--primary-color: rgba(244, 125, 154, 1);
	--secondary-color: rgba(243, 166, 78, 1);
	--tertiary-color: rgba(255, 244, 226, 1);

	/* General */
	font-family: "Epilogue", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 0.98em;
	line-height: 1.75;
	color: var(--text-color-light);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
	position: relative;
}

body {
	background-color: var(--bg-color);
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: -1;
}

main {
	background-color: var(--bg-color);
	box-shadow: 0px 0px 15px black;
	max-width: 1500px;
	padding: 40px 75px;
	animation-name: loadOpacity;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	z-index: -1;
}

/* Background images */

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;
	background-clip: content-box;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -999;
	animation-name: loadOpacity;
	animation-timing-function: ease-in;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

#bgi-home {
	background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 70%, var(--bg-color)),
		url("./assets/raw/bg/bamboo.jpg");
}

#bgi-services {
	background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 70%, var(--bg-color)),
		url("./assets/raw/bg/forest-floor.jpg");
}

#bgi-about {
	background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 70%, var(--bg-color)),
		url("./assets/raw/bg/lake-pier.jpg");
}

#bgi-consulting {
	background-image:
		linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 70%, var(--bg-color)),
		url("./assets/raw/bg/rocky-beach.jpg");
}

/* Animations */

@keyframes loadOpacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Navigation */

header {
	width: 100%;
	height: auto;
	padding: 10px 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--bg-color);
	background-color: var(--tertiary-color);
	position: sticky;
	top: 0;
}

header ul {
	list-style: none;
	display: flex;
	line-height: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav li {
	cursor: pointer;
	margin: 0;
	padding: 0;
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	background-color: rgba(255, 255, 255, 0);
}

nav li:hover {
	transform: scale(1.05);
}

nav li:active {
	transform: scale(0.97);
}

#nav-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-logo-container img {
	height: 60px;
	width: auto;
	border: none;
	box-shadow: none;
}

#nav-logo-container h3 {
	padding-left: 10px;
}

.nav-link {
	padding: 5px 10px;
}

header *,
.nav-link:link,
.nav-link:visited {
	color: var(--secondary-color);
	font-weight: 800;
}

#book-now-btn {
	color: var(--tertiary-color);
	background-color: var(--secondary-color);
	padding: 10px 15px;
	margin-left: 5px;
	border-radius: 10px;
	border: 1px 1px solid black;
}

/* Headers */

h1 {
	font-size: 2.5em;
	margin: 20px 0;
	text-shadow: 2px 2px 3px var(--text-color-dark);
}

h2 {
	font-size: 1.8em;
	margin: 20px 0;
	color: var(--primary-color);
	text-shadow: 1px 1px 1px black;
}

h3 {
	font-size: 1.25em;
}

h1,
h3 {
	color: var(--secondary-color);
}

/* General */

hr {
	margin: 40px 0;
}

p {
	font-weight: 400;
	margin: 20px 0;
}

img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	border: 1px solid black;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

li {
	margin-left: 20px;
	padding-left: 10px;
}

.link-inline,
.link-inline:link,
.link-inline:visited {
	text-decoration: underline;
	color: var(--primary-color);
	font-weight: 600;
}

#banner-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0;
	background-color: var(--tertiary-color);
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
}

#banner-container img {
	vertical-align: middle;
	margin: 0 5px;
	height: 75px;
	width: auto;
	border: none;
	box-shadow: none;
}

/* Inputs */

a,
a:link,
a:visited {
	text-decoration: none;
	font-weight: 500;
	color: var(--text-color-dark);
}

.btn-link,
.btn-link:link,
.btn-link:visited {
	padding: 10px 15px;
	display: inline-block;
	background-color: var(--primary-color);
	border: 0.5px solid black;
	border-radius: 10px;
	font-style: italic;
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
	font-family: "Zalando Sans Expanded", sans-serif;
	font-weight: 800;
	color: var(--text-color-light);
}

.btn-link:hover {
	transform: scale(1.05);
}

.btn-link:active {
	transform: scale(0.97);
}

/* Summary Container */

.summary-container,
.summary-container-rev {
	display: grid;
	gap: 25px;
}

.summary-container {
	grid-template-columns: 2fr 1fr;
}

.summary-container-rev {
	grid-template-columns: 1fr 2fr;
}

.summary-container img,
.summary-container-rev img {
	margin: 20px 0;
}

.summary-sub-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.summary-sub-container .btn-link {
	width: fit-content;
	margin: 20px 0;
}

/* Info Container */

.info-header {
	text-align: center;
	font-size: 1.4em;
	font-style: italic;
	margin: 20px 0;
}

.info-container {
	display: grid;
	gap: 25px;
	margin-bottom: 25px;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.info-sub-container {
	height: 100%;
	border-radius: 10px;
	background-color: var(--tertiary-color);
	padding: 20px;
}

.info-sub-container * {
	color: var(--text-color-dark);
}

.info-sub-container h3 {
	font-size: 1.6em;
	font-weight: 600;
	text-align: center;
	color: var(--secondary-color);
	text-shadow: 1px 1px 1px lightgray;
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
	margin: 20px 0;
}

.info-sub-container p {
	text-align: center;
}

.info-sub-container p:nth-of-type(1) {
	font-size: 1.1em;
	font-weight: 600;
}

.info-sub-container > p:first-child {
	color: var(--secondary-color);
	text-shadow: 1px 1px 1px lightgray;
}

.info-sub-container:has(> p:first-child) {
	display: grid;
	align-items: center;
}

/* Dropdowns */

.dropdown-container,
.dropdown-container-rev {
	display: grid;
	gap: 25px;
}

.dropdown-container {
	grid-template-columns: 3fr 1fr;
}

.dropdown-container-rev {
	grid-template-columns: 1fr 3fr;
}
.dropdown-container details:first-of-type,
.dropdown-container-rev details:first-of-type {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.dropdown-container details:last-of-type,
.dropdown-container-rev details:last-of-type {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

details {
	background-color: var(--tertiary-color);
	border-bottom: 1px solid black;
	padding: 10px;
}

details *:not(summary) {
	color: var(--text-color-dark);
}

details ul {
	list-style: none;
}

details li {
	padding: 5px 0;
}

details li:first-child {
	padding-top: 20px;
}

[open]::details-content {
	height: auto;
}

::details-content {
	transition:
		height 0.5s ease,
		content-visibility 0.5s ease allow-discrete;
	height: 0;
	overflow: clip;
}

details summary {
	cursor: pointer;
	list-style-type: none;
	font-size: 1.25em;
	color: var(--secondary-color);
	text-shadow: 1px 1px 1px lightgray;
	font-weight: 600;
	min-height: 20px;
}

details[open] summary::before {
	content: "-";
	width: 30px;
	font-size: 1.4em;
	font-weight: 800;
	margin-right: 5px;
}

details:not([open]) summary::before {
	content: "+";
	width: 30px;
	font-size: 1.4em;
	font-weight: 800;
	margin-right: 5px;
}

/* Footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--tertiary-color);
	border-top: 1px solid var(--bg-color);
	width: 100%;
}

#footer-container {
	padding: 20px 75px;
	max-width: 1500px;
}

#footer-header-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid gray;
	margin-bottom: 20px;
}

#footer-header-container h2 {
	margin: 20px 0;
	color: var(--primary-color);
	text-align: center;
	line-height: 30px;
	padding: 0 20px;
}

#footer-header-container h2:first-child {
	border-right: 1px solid gray;
}

.footer-bold-label {
	color: var(--bg-color);
	font-weight: 800;
}

footer *:not(a) {
	color: var(--text-color-dark);
}

footer a {
	color: var(--secondary-color);
}

footer a:hover {
	transform: scale(1.03);
}

footer a:active {
	transform: scale(0.98);
}

#footer-contact-container {
	display: grid;
	gap: 25px;
	grid-template-columns: 1fr 2fr 1fr;
}

#footer-contact-container * {
	margin: 0;
	color: var(--secondary-color);
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.75);
}

#footer-contact-left,
#footer-contact-middle,
#footer-contact-right {
	display: flex;
	flex-direction: column;
}

#footer-contact-middle {
	align-self: center;
}

#footer-contact-middle img {
	height: auto;
	max-width: 200px;
	align-self: center;
	justify-self: center;
}

#footer-contact-right {
	align-items: flex-end;
}

#footer-media-container {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

#footer-media-container img {
	border: none;
	box-shadow: none;
	height: auto;
	width: 40px;
	margin-right: 10px;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, 0.75);
}

#footer-media-container img:hover {
	transform: scale(1.05);
}

#footer-media-container img:active {
	transform: scale(0.98);
}

/* Mobile Media */

/* Tablet */

@media (width <= 1250px) {
	/* General */

	main {
		padding: 20px 35px;
	}

	h1 {
		margin: 20px 0;
	}

	li {
		margin-left: 20px;
		padding-left: 5px;
	}

	p {
		margin: 10px 0;
	}

	hr {
		margin: 20px 0;
	}

	/* Banner */

	#banner-container img {
		height: 60px;
	}

	/* Header */

	header {
		flex-direction: column;
		justify-content: center;
	}

	nav {
		display: flex;
		justify-content: center;
	}

	#nav-logo-container h3 {
		font-size: 1.8em;
	}

	/* Info Container */

	.info-container {
		margin-bottom: 15px;
		gap: 15px;
	}

	.info-sub-container {
		padding: 10px;
	}

	.info-sub-container h3 {
		margin: 10px 0;
		padding-bottom: 5px;
	}

	.info-sub-container p:nth-of-type(1) {
		font-size: 0.98em;
		font-weight: 600;
	}

	/* Summary Container */

	.summary-container,
	.summary-container-rev {
		align-items: flex-start;
		gap: 15px;
	}

	/* Dropdowns */

	.dropdown-container,
	.dropdown-container-rev {
		gap: 15px;
	}

	.dropdown-container {
		grid-template-columns: 2fr 1fr;
	}

	.dropdown-container-rev {
		grid-template-columns: 1fr 2fr;
	}

	details {
		padding: 10px;
	}

	/* Footer */

	#footer-container {
		padding: 10px 35px;
	}

	#footer-header-container h2 {
		font-size: 1.5em;
	}
}

/* Phones */

@media (width <= 750px) {
	/* General */

	* {
		line-height: 1.5;
	}

	main {
		padding: 20px 15px;
	}

	hr {
		margin: 40px 0;
	}

	h1 {
		text-align: center;
	}

	h2 {
		text-shadow: 1px 1px 1px gray;
	}

	/* Header */

	header {
		display: grid;
		grid-template-columns: 2fr 1fr;
		padding: 20px 15px;
		flex-direction: row;
		justify-content: space-between;
	}

	header * {
		line-height: 1.75;
	}

	header ul {
		flex-direction: column;
	}

	#nav-logo-container img {
		height: 40px;
	}

	#nav-logo-container > h3 {
		font-size: 1.25em;
	}

	nav {
		margin: 0;
		display: flex;
		flex-flow: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	nav ul > span {
		display: none;
	}

	nav li {
		text-align: right;
	}

	nav li:last-child {
		margin-top: 10px;
	}

	.nav-link {
		padding: 0 5px;
	}

	/* Summary Container */

	.summary-container {
		grid-template-columns: 1fr;
	}

	.summary-container-rev {
		grid-template-columns: 1fr;
	}

	.summary-container img,
	.summary-container-rev img {
		margin: 0;
	}

	.summary-sub-container .btn-link {
		align-self: center;
		margin: 10px 0;
		font-size: 1.25em;
	}

	/* Info Container */

	.info-container {
		grid-template-columns: 1fr;
	}

	/* Dropdowns */

	.dropdown-container {
		grid-template-columns: 1fr;
	}

	.dropdown-container-rev {
		grid-template-columns: 1fr;
	}

	/* Footer */

	#footer-container {
		width: 100%;
		padding: 20px 15px;
	}

	#footer-header-container {
		grid-template-columns: 1fr;
		padding-bottom: 15px;
	}

	#footer-header-container h2 {
		font-size: 1.1em;
		margin: 0;
		padding: 0;
	}

	#footer-header-container h2:first-child {
		border-right: none;
	}

	#footer-contact-container {
		gap: 15px;
		grid-template-columns: 2fr 1fr 2fr;
	}

	#footer-media-container img {
		width: 30px;
	}
}

/* Small Phones */

@media (width <= 500px) {
	/* General */

	* {
		font-size: 0.95em;
	}

	p,
	li {
		font-size: 1.25em;
	}

	/* Header */

	header {
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding: 10px 15px;
		font-size: 0.8em;
	}

	#nav-logo-container {
		flex-direction: column;
	}

	#nav-logo-container h3 {
		text-align: center;
	}

	/* Info Container */

	.info-sub-container p:nth-of-type(1) {
		font-size: 1.5em;
	}

	/* Dropdowns */

	details summary {
		font-size: 1.5em;
		text-align: center;
	}

	/* Footer */

	#footer-header-container h2 {
		font-size: 1.4em;
	}

	#footer-contact-container {
		grid-template-columns: 2fr 1fr;
	}

	#footer-contact-middle {
		display: none;
	}

	#footer-contact-right a {
		margin-bottom: 5px;
		text-align: right;
	}
}
