<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../style.css" />
		<title>Rainbow Therapy - About</title>
	</head>
	<body>
		<!-- Header -->
		<header>
			<div id="nav-logo-container">
				<img
					src="../assets/raw/New Logo Transparent BG - Img Only.png"
					alt="image of company logo" />
				<h3>Rainbow Therapy & Consulting PLLC</h3>
			</div>
			<nav>
				<ul>
					<li>
						<a class="nav-link" href="../index.html">HOME</a>
					</li>
					<span>|</span>
					<li>
						<a class="nav-link" href="../views/services.html">
							THERAPY SERVICES
						</a>
					</li>
					<span>|</span>
					<li>
						<a class="nav-link" href="../views/about.html">ABOUT</a>
					</li>
					<span>|</span>
					<li>
						<a class="nav-link" href="../views/consulting.html">
							EDUCATION & CONSULTING
						</a>
					</li>
					<li>
						<a
							class="nav-link"
							id="book-now-btn"
							target="_blank"
							href="https://rainbowtc.sessionshealth.com">
							BOOK NOW
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<!-- Body -->
		<div class="background-image" id="bgi-about"></div>
		<main>
			<h1>About Me</h1>
			<article>
				<div class="summary-container-rev">
					<img
						src="../assets/raw/Headshot Pride Flag.jpg"
						alt="image of brittany with pride flag" />
					<div>
						<section>
							<h2>Britt Carilli, LCSW, LICSW</h2>
							<p>
								Hey, hi! My name is Britt (she/they) and I'm and I'm a
								queer, nonbinary, AuDHD, and Disabled therapist who
								specializes in working with complex and single-incident
								trauma, self-esteem, and big existential questions around
								identity and purpose.
							</p>
						</section>
						<section>
							<h2>Who I Work With</h2>
							<p>
								When you survive harsh experiences, it's common to feel
								disconnected from people you love, yourself, or the world
								around you. You may feel unfulfilled or lost in your own
								life, and lose sleep at night over big questions like
								“what's the point” or “why am I here.” Trauma can be an
								experience that shakes your ability to trust yourself and
								make otherwise welcome ventures in life appear unsafe.
								Traditional talk therapies may have felt limited,
								ineffective, or inadequate for addressing your needs in
								the past, or may have left you feeling stuck in your
								growth.
							</p>
							<p>
								If you resonate, you're not alone. Like you, many of my
								clients- and myself- have felt the same.
							</p>
							<p>
								I work with individual adults (18+), families, and couples
								who have survived trauma and are looking for a soft,
								welcoming place to process and heal. Folx who choose me as
								a therapist are tired of feeling simultaneously “not
								enough” and “too much,” and want to start living a life
								that aligns with their values. My therapy space is open to
								all, and is home especially for LGBTQIA2S+,
								neurodivergent, Disabled, and racialized folx whose
								identities are most linked to systemic violence and
								neglect.
							</p>
						</section>
						<section>
							<h2>How I Roll</h2>
							<p>
								As a neurodivergent therapist, I believe therapy is a
								place to unmask and I practice this in sessions by using
								fidgets, not forcing eye contact for myself and others,
								and using comfortable headphones. I'm down-to-earth and
								usually pop into sessions sipping an iced coffee or energy
								drink and wearing a hoodie. My therapy style is warm,
								validating, collaborative, and relational, because life is
								too short for therapy that is cold, detached, and generic.
							</p>
							<p>
								You're the expert of your own lived experience and my
								biggest challenge and honor is to get you to see that,
								too. If you're looking for a therapist who shows up as an
								authentic human being with you, we could be a compatible
								fit!
							</p>
						</section>
					</div>
				</div>
			</article>
			<hr />
			<section>
				<h2>My Values</h2>
				<p>
					Therapy is inherently political, which contradicts with the blank
					slate that higher education molds therapists into. This approach is
					disingenuous, prevents real connection, and can lead to unhelpful
					therapeutic fit. I'm a firm believer that you have a right to know
					your therapist's values and beliefs because how can you heal in a
					space that doesn't honor your humanity?
				</p>
				<div class="info-container">
					<div class="info-sub-container">
						<h3>These values guide my work:</h3>
						<ul>
							<li>Racialized, indigenous, black, and brown lives matter</li>
							<li>Gender-affirming care for all ages is a human right</li>
							<li>Sex work is work</li>
							<li>Nobody is illegal on stolen land</li>
							<li>
								Law enforcement doesn't belong in mental health spaces
							</li>
							<li>Autism registries are a human rights violation</li>
							<li>Disability is not a dirty word</li>
						</ul>
					</div>
					<img
						src="../assets/raw/old-office.jpg"
						alt="image of brittany's current office layout" />
				</div>
			</section>
		</main>
		<!-- Footer -->
		<footer>
			<div id="footer-container">
				<div id="footer-header-container">
					<h2>Therapy for adults across Connecticut and Massachusetts</h2>
					<h2>Virtual consultation for professionals nationwide</h2>
				</div>
				<div id="footer-contact-container">
					<div id="footer-contact-left">
						<p>
							<span class="footer-bold-label">Call: </span>
							+1-203-275-9722
						</p>
						<p>
							<span class="footer-bold-label">Email: </span>
							<a href="mailto:britt@rainbowtandc.com">
								britt@rainbowtandc.com
							</a>
						</p>
						<address>
							268 Post Road, STE 200
							<br />
							Fairfield, CT, 06824 USA
							<br />
						</address>
						<div id="footer-media-container">
							<a
								target="_blank"
								href="https://www.instagram.com/the_rainbow_therapist">
								<img
									src="../assets/raw/icons/instagram-icon.png"
									alt="image of instagram logo" />
							</a>
							<a
								target="_blank"
								href="https://www.facebook.com/people/Rainbow-Therapy-Consulting-PLLC/61584399960852">
								<img
									src="../assets/raw/icons/facebook-logo.png"
									alt="image of facebook logo" />
							</a>
						</div>
					</div>
					<div id="footer-contact-middle">
						<img
							src="../assets/raw/Pride Flag.jpg"
							alt="image of the pride flag" />
					</div>
					<div id="footer-contact-right">
						<a href="mailto:britt@rainbowtandc.com">CONTACT</a>
						<a target="_blank" href="https://rainbowtc.sessionshealth.com">
							BOOK YOUR SESSION
						</a>
						<a href="#">TERMS OF USE</a>
						<a href="#">PRIVACY POLICY</a>
						<a href="#">LEGAL DISCLAIMER</a>
						<a href="#">NO SURPRISES ACT</a>
					</div>
				</div>
			</div>
		</footer>
		<script src="../script.js"></script>
	</body>
</html>
