<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../style.css" />
		<title>Rainbow Therapy - About</title>
	</head>
	<body>
		<!-- Header -->
		<header></header>
		<!-- Body -->
		<main>
			<h1>About Me</h1>
			<section>
				<h2>Britt Carilli, LCSW, LICSW</h2>
				<p>
					Hey, hi! My name is Britt (she/they) and I'm and I'm a queer,
					nonbinary, AuDHD, and Disabled therapist who specializes in working
					with complex and single-incident trauma, self-esteem, and big
					existential questions around identity and purpose.
				</p>
			</section>
			<section>
				<h2>Who I Work With</h2>
				<p>
					When you survive harsh experiences, it's common to feel disconnected
					from people you love, yourself, or the world around you. You may feel
					unfulfilled or lost in your own life, and lose sleep at night over big
					questions like “what's the point” or “why am I here.” Trauma can be an
					experience that shakes your ability to trust yourself and make
					otherwise welcome ventures in life appear unsafe. Traditional talk
					therapies may have felt limited, ineffective, or inadequate for
					addressing your needs in the past, or may have left you feeling stuck
					in your growth.
				</p>
				<p>
					If you resonate, you're not alone. Like you, many of my clients- and
					myself- have felt the same.
				</p>
				<p>
					I work with individual adults (18+), families, and couples who have
					survived trauma and are looking for a soft, welcoming place to process
					and heal. Folx who choose me as a therapist are tired of feeling
					simultaneously “not enough” and “too much,” and want to start living a
					life that aligns with their values. My therapy space is open to all,
					and is home especially for LGBTQIA2S+, neurodivergent, Disabled, and
					racialized folx whose identities are most linked to systemic violence
					and neglect.
				</p>
			</section>
			<section>
				<h2>How I Roll</h2>
				<p>
					As a neurodivergent therapist, I believe therapy is a place to unmask
					and I practice this in sessions by using fidgets, not forcing eye
					contact for myself and others, and using comfortable headphones. I'm
					down-to-earth and usually pop into sessions sipping an iced coffee or
					energy drink and wearing a hoodie. My therapy style is warm,
					validating, collaborative, and relational, because life is too short
					for therapy that is cold, detached, and generic.
				</p>
				<p>
					You're the expert of your own lived experience and my biggest
					challenge and honor is to get you to see that, too. If you're looking
					for a therapist who shows up as an authentic human being with you, we
					could be a compatible fit!
				</p>
			</section>
			<section>
				<h2>My Values</h2>
				<p>
					Therapy is inherently political, which contradicts with the blank
					slate that higher education molds therapists into. This approach is
					disingenuous, prevents real connection, and can lead to unhelpful
					therapeutic fit. I'm a firm believer that you have a right to know
					your therapist's values and beliefs because how can you heal in a
					space that doesn't honor your humanity?
				</p>
				<p>These values guide my work:</p>
				<ul>
					<li>Racialized, indigenous, black, and brown lives matter</li>
					<li>Gender-affirming care for all ages is a human right</li>
					<li>Sex work is work</li>
					<li>Nobody is illegal on stolen land</li>
					<li>Law enforcement doesn't belong in mental health spaces</li>
					<li>Autism registries are a human rights violation</li>
					<li>Disability is not a dirty word</li>
				</ul>
			</section>
			<!-- Footer -->
			<footer></footer>
		</main>
		<script src="../script.js"></script>
	</body>
</html>
