<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../style.css" />
        <title>Rainbow Therapy - Consulting</title>
    </head>
    <body>
        <!-- Header -->
        <header></header>
        <!-- Body -->
        <main>
            <h1>Consulting</h1>
            <section>
                <h2>It's not just you...</h2>
                <p>
                    I love being a therapist, but I have to admit it; being a
                    therapist is harder than it's ever been, especially if
                    you're also a person with marginalized identities. Between
                    juggling insurance companies that refuse to pay claims,
                    sweeping federal policy changes that leave entire programs
                    in limbo, and *gestures wildly at the state of the world,*
                    it's an exhausting reality as a professional mental health
                    provider- and somehow, we're supposed to balance that with
                    all the usual obligations and responsibilities we have. Now
                    more than ever, therapists need support so we can care for
                    our communities.
                </p>
                <p>
                    I've worked in the mental health field for over 5 years in
                    inpatient, residential, IOP, and outpatient levels of care,
                    and have assisted in the founding of private practices
                    across the state of Connecticut. Needless to say, I've
                    learned some things along my journey that I'd love to share
                    with you.
                </p>
                <p>
                    As a peer-consultant, I invite therapists and grad students
                    to bring your challenges, fears, and aspirations to the
                    table so we can shape a growing career to suit you. I offer
                    space for you to ask your burning questions - either I have
                    the answer, or we'll find it together. Whether you're
                    looking for input on a complex case or debating whether to
                    panel with insurance, I've got you covered.
                </p>
                <p>
                    Here are a few of the common topics that have people
                    reaching out for consulting:
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Client Services:</th>
                            <th>Being a Therapist:</th>
                            <th>Becoming a Therapist:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        Reducing the harm of carceral systems in
                                        your mental health practice.
                                    </li>
                                    <li>
                                        Navigating client intersectionality and
                                        systems with care.
                                    </li>
                                    <li>
                                        Participating in existential,
                                        relational, and narrative therapy work
                                        for trauma.
                                    </li>
                                    <li>
                                        Utilizing psychedelic-integrated,
                                        ketamine-assisted, and/or psychedelic
                                        harm-reduction therapies for trauma.
                                    </li>
                                    <li>
                                        Feedback on letter writing for
                                        accommodations, gender-affirming care,
                                        and more.
                                    </li>
                                    <li>
                                        Neuro- and queer-affirming your clinical
                                        approach.
                                    </li>
                                    <li>
                                        Modifying trauma informed care
                                        approaches for telehealth.
                                    </li>
                                    <li>
                                        Showing up authentically as the colorful
                                        therapist you are!
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        Balancing the weight of the world while
                                        holding space.
                                    </li>
                                    <li>
                                        Enhancing practice policies for
                                        community care and equity.
                                    </li>
                                    <li>
                                        Transitioning to (or from) full
                                        telehealth operations in private
                                        practice.
                                    </li>
                                    <li>
                                        Tailoring your PsychologyToday,
                                        TherapyDen, etc. to reach compatible
                                        clients.
                                    </li>
                                    <li>
                                        Developing or overhauling client
                                        paperwork for compliance.
                                    </li>
                                    <li>
                                        Conceptualizing and implementing sliding
                                        scale systems.
                                    </li>
                                    <li>
                                        Switching from accepting insurance to
                                        out-of-network practice without the
                                        guilt.
                                    </li>
                                    <li>
                                        Organizing logistics (billing,
                                        scheduling, CEUs, supervision, etc.)
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        Exploring potential specialties that
                                        resonate with you.
                                    </li>
                                    <li>
                                        Preparing for your first job interview
                                        and offer.
                                    </li>
                                    <li>
                                        Weighing the costs and benefits of
                                        licensure, certifications, and
                                        memberships.
                                    </li>
                                    <li>
                                        Marketing online and finding your first
                                        clients.
                                    </li>
                                    <li>Finding a compatible supervisor.</li>
                                    <li>Tracking supervision requirements.</li>
                                    <li>
                                        Researching income and caseload
                                        expectations.
                                    </li>
                                    <li>
                                        Budgeting time for continuing education,
                                        research, and administrative tasks.
                                    </li>
                                    <li>
                                        Engaging with the public on social
                                        media.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h2>Consultation Costs</h2>
                <table>
                    <thead>
                        <tr>
                            <th>30 Minute Private Consultation</th>
                            <th>60 Minute Private Consultation</th>
                            <th>60 Group Agency Consultation</th>
                            <th>60 Minute Drop-in Consultation Group</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>$60</td>
                            <td>$120</td>
                            <td>
                                $80 per attendee (minimum of 2 attendees
                                required up to a maximum of 15)
                            </td>
                            <td>$30</td>
                        </tr>
                        <tr>
                            <td>
                                Private 1:1 peer consultation meeting, held
                                virtually.
                            </td>
                            <td>
                                Extended private 1:1 peer consultation meeting,
                                held virtually. Extended meetings of 75 or 90
                                minutes may be available for an additional,
                                prorated fee.
                            </td>
                            <td>
                                Extended private group consultation meeting for
                                members of an agency, held virtually. Extended
                                meetings of 75 or 90 minutes may be available
                                for an additional, prorated fee.
                            </td>
                            <td>
                                Monthly, recurring peer consultation groups,
                                held virtually. Spots are available first-come,
                                first-serve with availability up to 7 people.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h2>Education</h2>
                <p>
                    As mental health providers, therapists' ability to provide
                    up-to-date services are dependent on access to high-quality
                    learning, research, and workshops. I provide a variety of
                    on-demand and live continuing education opportunities for
                    professionals looking to expand their knowledge.
                </p>
            </section>
            <section>
                <h2>Live Workshops</h2>
                <p>
                    I am excited and honored to be part of True Colors SOGIEcon
                    (Sexual Orientation and Gender Identity and Expression) on
                    Thursday March 19th, 2026 at 10:15am to 11:45am. My upcoming
                    workshop “Neuroqueer Emergence: Clinical Best Practices for
                    Supporting Identity and Sexuality Exploration in Young
                    Adults” aims to visit the intersection of neurodiversity and
                    LGBTQIA2S+ identities and provide mental health clinicians
                    with the guidance needed to facilitate self-discovery.
                </p>
                <p>
                    To attend this workshop and take part in the SOGIEcon
                    celebrations, click the link below to register for a pass.
                    Clicking the below course links will bring you to a third
                    party website. I do not directly receive financial
                    compensation for user sales directly made to True Colors
                    SOGIEcon via use of this link.
                </p>
            </section>
            <section>
                <h2>On-Demand Workshops</h2>
                <p>
                    As a NeuroPebble contracted educator, my affiliate courses
                    are aimed towards affirming care for Autistic and ADHD
                    clients. Clicking the below course links will bring you to a
                    third party website. Disclaimer: I am compensated by
                    NeuroPebble for any user sales directly made to them from my
                    courses.
                </p>
                <a href=""><img src="" alt="" /></a>
                <a href=""><img src="" alt="" /></a>
            </section>
            <!-- Footer -->
            <footer></footer>
        </main>
        <script src="../script.js"></script>
    </body>
</html>
