<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../style.css" />
		<title>Rainbow Therapy - Consulting</title>
	</head>
	<body>
		<!-- Header -->
		<header>
			<div id="nav-logo-container">
				<img
					src="../assets/raw/New Logo Transparent BG - Img Only.png"
					alt="image of company logo" />
				<h3>Rainbow Therapy & Consulting PLLC</h3>
			</div>
			<nav>
				<ul>
					<li>
						<a class="nav-link" href="../index.html">HOME</a>
					</li>
					<span>|</span>
					<li>
						<a class="nav-link" href="../views/services.html">
							THERAPY SERVICES
						</a>
					</li>
					<span>|</span>
					<li>
						<a class="nav-link" href="../views/about.html">ABOUT</a>
					</li>
					<span>|</span>
					<li>
						<a class="nav-link" href="../views/consulting.html">
							EDUCATION & CONSULTING
						</a>
					</li>
					<li>
						<a
							class="nav-link"
							id="book-now-btn"
							target="_blank"
							href="https://rainbowtc.sessionshealth.com">
							BOOK NOW
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<!-- Body -->
		<div class="background-image" id="bgi-consulting"></div>
		<main>
			<h1>Consulting</h1>
			<section>
				<div class="summary-container-rev">
					<img
						src="../assets/raw/New Logo.jpg"
						alt="image of a calming office space" />
					<div>
						<h2>It's not just you...</h2>
						<p>
							I love being a therapist, but I have to admit it; being a
							therapist is harder than it's ever been, especially if you're
							also a person with marginalized identities. Between juggling
							insurance companies that refuse to pay claims, sweeping
							federal policy changes that leave entire programs in limbo,
							and *gestures wildly at the state of the world,* it's an
							exhausting reality as a professional mental health provider-
							and somehow, we're supposed to balance that with all the usual
							obligations and responsibilities we have. Now more than ever,
							therapists need support so we can care for our communities.
						</p>
						<p>
							I've worked in the mental health field for over 5 years in
							inpatient, residential, IOP, and outpatient levels of care,
							and have assisted in the founding of private practices across
							the state of Connecticut. Needless to say, I've learned some
							things along my journey that I'd love to share with you.
						</p>
						<p>
							As a peer-consultant, I invite therapists and grad students to
							bring your challenges, fears, and aspirations to the table so
							we can shape a growing career to suit you. I offer space for
							you to ask your burning questions - either I have the answer,
							or we'll find it together. Whether you're looking for input on
							a complex case or debating whether to panel with insurance,
							I've got you covered.
						</p>
					</div>
				</div>
			</section>
			<section>
				<hr />
				<p class="info-header">
					Here are a few of the common topics that have people reaching out for
					consulting:
				</p>
				<div class="info-container">
					<div class="info-sub-container">
						<h3>Client Services:</h3>
						<ul>
							<li>
								Reducing the harm of carceral systems in your mental
								health practice.
							</li>
							<li>
								Navigating client intersectionality and systems with care.
							</li>
							<li>
								Participating in existential, relational, and narrative
								therapy work for trauma.
							</li>
							<li>
								Utilizing psychedelic-integrated, ketamine-assisted,
								and/or psychedelic harm-reduction therapies for trauma.
							</li>
							<li>
								Feedback on letter writing for accommodations,
								gender-affirming care, and more.
							</li>
							<li>Neuro- and queer-affirming your clinical approach.</li>
							<li>
								Modifying trauma informed care approaches for telehealth.
							</li>
							<li>
								Showing up authentically as the colorful therapist you
								are!
							</li>
						</ul>
					</div>
					<div class="info-sub-container">
						<h3>Being a Therapist:</h3>
						<ul>
							<li>
								Balancing the weight of the world while holding space.
							</li>
							<li>
								Enhancing practice policies for community care and equity.
							</li>
							<li>
								Transitioning to (or from) full telehealth operations in
								private practice.
							</li>
							<li>
								Tailoring your PsychologyToday, TherapyDen, etc. to reach
								compatible clients.
							</li>
							<li>
								Developing or overhauling client paperwork for compliance.
							</li>
							<li>
								Conceptualizing and implementing sliding scale systems.
							</li>
							<li>
								Switching from accepting insurance to out-of-network
								practice without the guilt.
							</li>
							<li>
								Organizing logistics (billing, scheduling, CEUs,
								supervision, etc.)
							</li>
						</ul>
					</div>
					<div class="info-sub-container">
						<h3>Becoming a Therapist:</h3>
						<ul>
							<li>
								Exploring potential specialties that resonate with you.
							</li>
							<li>Preparing for your first job interview and offer.</li>
							<li>
								Weighing the costs and benefits of licensure,
								certifications, and memberships.
							</li>
							<li>Marketing online and finding your first clients.</li>
							<li>Finding a compatible supervisor.</li>
							<li>Tracking supervision requirements.</li>
							<li>Researching income and caseload expectations.</li>
							<li>
								Budgeting time for continuing education, research, and
								administrative tasks.
							</li>
							<li>Engaging with the public on social media.</li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<h2>Consultation Costs</h2>
				<div class="info-container">
					<div class="info-sub-container">
						<h3>30 Minute Private Consultation</h3>
						<p>$60</p>
						<p>Private 1:1 peer consultation meeting, held virtually.</p>
					</div>
					<div class="info-sub-container">
						<h3>60 Minute Private Consultation</h3>
						<p>$120</p>
						<p>
							Extended private 1:1 peer consultation meeting, held
							virtually. Extended meetings of 75 or 90 minutes may be
							available for an additional, prorated fee.
						</p>
					</div>
				</div>
				<div class="info-container">
					<div class="info-sub-container">
						<h3>60 Group Agency Consultation</h3>
						<p>
							$80 per attendee (minimum of 2 attendees required up to a
							maximum of 15)
						</p>
						<p>
							Extended private group consultation meeting for members of an
							agency, held virtually. Extended meetings of 75 or 90 minutes
							may be available for an additional, prorated fee.
						</p>
					</div>
					<div class="info-sub-container">
						<h3>60 Minute Drop-in Consultation Group</h3>
						<p>$30</p>
						<p>
							Monthly, recurring peer consultation groups, held virtually.
							Spots are available first-come, first-serve with availability
							up to 7 people.
						</p>
					</div>
				</div>
			</section>
			<section>
				<h2>Education</h2>
				<p>
					As mental health providers, therapists' ability to provide up-to-date
					services are dependent on access to high-quality learning, research,
					and workshops. I provide a variety of on-demand and live continuing
					education opportunities for professionals looking to expand their
					knowledge.
				</p>
			</section>
			<article class="summary-container">
				<div>
					<section>
						<h2>Live Workshops</h2>
						<p>
							I am excited and honored to be part of True Colors SOGIEcon
							(Sexual Orientation and Gender Identity and Expression) on
							Thursday March 19th, 2026 at 10:15am to 11:45am. My upcoming
							workshop “Neuroqueer Emergence: Clinical Best Practices for
							Supporting Identity and Sexuality Exploration in Young Adults”
							aims to visit the intersection of neurodiversity and
							LGBTQIA2S+ identities and provide mental health clinicians
							with the guidance needed to facilitate self-discovery.
						</p>
						<p>
							To attend this workshop and take part in the SOGIEcon
							celebrations, click the link below to register for a pass.
							Clicking the below course links will bring you to a third
							party website. I do not directly receive financial
							compensation for user sales directly made to True Colors
							SOGIEcon via use of this link.
						</p>
					</section>
					<section>
						<h2>On-Demand Workshops</h2>
						<p>
							As a NeuroPebble contracted educator, my affiliate courses are
							aimed towards affirming care for Autistic and ADHD clients.
							Clicking the below course links will bring you to a third
							party website. Disclaimer: I am compensated by NeuroPebble for
							any user sales directly made to them from my courses.
						</p>
					</section>
				</div>
				<img
					src="../assets/raw/Office Vibes.jpg"
					alt="image of desk plants in an office" />
			</article>
		</main>
		<!-- Footer -->
		<footer>
			<div id="footer-container">
				<div id="footer-header-container">
					<h2>Therapy for adults across Connecticut and Massachusetts</h2>
					<h2>Virtual consultation for professionals nationwide</h2>
				</div>
				<div id="footer-contact-container">
					<div id="footer-contact-left">
						<p>
							<span class="footer-bold-label">Call: </span>
							+1-203-275-9722
						</p>
						<p>
							<span class="footer-bold-label">Email: </span>
							<a href="mailto:britt@rainbowtandc.com">
								britt@rainbowtandc.com
							</a>
						</p>
						<address>
							268 Post Road, STE 200
							<br />
							Fairfield, CT, 06824 USA
							<br />
						</address>
						<div id="footer-media-container">
							<a
								target="_blank"
								href="https://www.instagram.com/the_rainbow_therapist">
								<img
									src="../assets/raw/icons/instagram-icon.png"
									alt="image of instagram logo" />
							</a>
							<a
								target="_blank"
								href="https://www.facebook.com/people/Rainbow-Therapy-Consulting-PLLC/61584399960852">
								<img
									src="../assets/raw/icons/facebook-logo.png"
									alt="image of facebook logo" />
							</a>
						</div>
					</div>
					<div id="footer-contact-middle">
						<img
							src="../assets/raw/Pride Flag.jpg"
							alt="image of the pride flag" />
					</div>
					<div id="footer-contact-right">
						<a href="mailto:britt@rainbowtandc.com">CONTACT</a>
						<a target="_blank" href="https://rainbowtc.sessionshealth.com">
							BOOK YOUR SESSION
						</a>
						<a href="#">TERMS OF USE</a>
						<a href="#">PRIVACY POLICY</a>
						<a href="#">LEGAL DISCLAIMER</a>
						<a href="#">NO SURPRISES ACT</a>
					</div>
				</div>
			</div>
		</footer>
		<script src="../script.js"></script>
	</body>
</html>
