<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../style.css" />
		<title>Rainbow Therapy - Services</title>
	</head>
	<body>
		<!-- Header -->
		<header>
			<div id="nav-logo-container">
				<img
					src="../assets/raw/New Logo Transparent BG - Img Only.png"
					alt="image of company logo" />
				<h3>Rainbow Therapy & Consulting PLLC</h3>
			</div>
			<nav>
				<ul>
					<li>
						<a class="nav-link" href="../index.html">HOME</a>
					</li>
					<span>|</span>
					<li>
						<a class="nav-link" href="../views/services.html">
							THERAPY SERVICES
						</a>
					</li>
					<span>|</span>
					<li>
						<a class="nav-link" href="../views/about.html">ABOUT</a>
					</li>
					<span>|</span>
					<li>
						<a class="nav-link" href="../views/consulting.html">
							EDUCATION & CONSULTING
						</a>
					</li>
					<li>
						<a
							class="nav-link"
							id="book-now-btn"
							target="_blank"
							href="https://rainbowtc.sessionshealth.com">
							BOOK NOW
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<!-- Body -->
		<div class="background-image" id="bgi-services"></div>
		<main>
			<h1>Therapy Services & Specialities</h1>
			<section>
				<h2>What I Help With</h2>
				<div class="dropdown-container">
					<div>
						<details>
							<summary>Trauma</summary>
							<ul>
								<li>
									Whether you've experienced a single traumatic event or
									have survived complex trauma, the goal of trauma work
									is to put you in control of your life's story. We'll
									work at a pace that prioritizes your safety as we
									embark on this deep work to process your past, honor
									your resilience, release emotions and sensations, and
									forge a new path forward.
								</li>
								<li>
									Trauma has a tendency of compounding and manifesting
									other emotional challenges when your pain goes without
									being acknowledged or supported. Whether your trauma
									shows up as changes in mood such as depression or
									anxiety, substance use, self-harm, or chronic suicidal
									thoughts, I'm here to provide you with a place to
									address these challenges without fear of judgment and
									inappropriate hospitalization. Together, we'll develop
									a safety plan that centers your voice, build your
									access to resources for reducing harm, and add new
									coping tools to your regulation toolbox.
								</li>
							</ul>
						</details>
						<details>
							<summary>Self-Esteem</summary>
							<ul>
								<li>
									You deserve to recognize your own self-worth. We'll
									reveal and harness the strengths you intrinsically
									have and celebrate you through exercises of
									self-compassion, respect, and gratitude. This work is
									intended to be gentle and yielding while also nudging
									you to confront stuck narratives, relationships, and
									traumas that hold you back from the confidence you
									desire.
								</li>
							</ul>
						</details>
						<details>
							<summary>Identity & Purpose</summary>
							<ul>
								<li>
									Answering the questions “who am I” or “what's the
									point” is intimidating, especially if you've been
									taught that who you are is wrong, too much, or not
									enough. We'll take small steps to delve into the many
									parts of you, uncover masked facets of your identity,
									and venture forth into new experiences to develop a
									life that aligns with the whole you.
								</li>
							</ul>
						</details>
						<details>
							<summary>Neurodiversity</summary>
							<ul>
								<li>
									Cognitive, behavioral, or exposure-based therapies
									aren't always developed with your type of
									neurodiversity in mind. By using neuroaffirming
									therapy approaches designed to work with your brain,
									we can navigate burnout, sensory sensitivities,
									regulation and accommodation needs, cross-neurotype
									communication, ableism, and self-acceptance.
								</li>
							</ul>
						</details>
						<details>
							<summary>LGBTQIA2S+</summary>
							<ul>
								<li>
									If you've ever felt the frustration of having to
									explain your relationship or pronouns to your
									therapist, I see you. No matter where you are in your
									journey, our space is one where your true self can be
									explored, expressed, and embraced. As we navigate the
									fears and systemic blockades to you living
									authentically, we will empower you to grow your
									community and foster stronger connections between your
									mind, spirit, and body.
								</li>
							</ul>
						</details>
						<details>
							<summary>Sexuality</summary>
							<ul>
								<li>
									Sex is a language you use to connect with other
									people, express yourself, experience pleasure, and try
									new things. In our work together, we will label and
									deconstruct the physical, emotional, and systemic
									obstacles you face to pave the way to more enjoyable,
									safe sex.
								</li>
							</ul>
						</details>
					</div>
					<img
						src="../assets/raw/brittany-direct.jpg"
						alt="image of brittany smiling" />
				</div>
			</section>
			<hr />
			<section>
				<h2>How I Help</h2>
				<p>
					You exist as a product of the many systems in which you are an
					important part. I employ a systemic approach to therapy to acknowledge
					how your family, community, government, culture, etc. impacts how you
					think, feel, and show up in the world. I also operate on a
					person-centered modality because therapy works best when it's tailored
					to your specific strengths and needs. As a radically affirming
					therapist, my therapy space incorporates harm-reduction, feminist,
					critical race, LGBTQIA2S+-affirming, and neurodivergent-affirming
					frameworks.
				</p>
				<p>
					Therapy can and should be built with you in mind. When we discuss your
					goals, you and I will work together on a treatment plan that considers
					your needs as well as your comfort level. For holistic trauma
					treatment, I blend elements of various therapies to recruit and
					strengthen your mind, body, and spiritual connections. Some types of
					therapy we might use include:
				</p>
				<div class="info-container">
					<div class="info-sub-container">
						<p>Eye Movement Desensitization and Reprocessing (EMDR)</p>
					</div>
					<div class="info-sub-container">
						<p>Somatic (Body-centered) Therapy</p>
					</div>
					<div class="info-sub-container">
						<p>Internal Family Systems (Parts Work)</p>
					</div>
					<div class="info-sub-container">
						<p>Ecotherapy (Nature-based Therapy)</p>
					</div>
					<div class="info-sub-container">
						<p>Mindfulness-Based Therapy</p>
					</div>
				</div>
			</section>
			<section>
				<h2>What to Expect</h2>
				<p>
					Sessions with me start off with a brief check-in (“how's work been?",
					"how was that concert?”, “did you paint your room like you planned?”,
					etc.). After, we'll set the intention for our session or if we're
					already planning to work on something, we'll revisit it and then jump
					in.
				</p>
				<p>
					Whether you choose to attend your session virtually from the comfort
					of your own home, or in person with me in my cozy Wethersfield, CT
					office, your session is your space to make your own! I always
					encourage you do what you need to centered-- pop in with your favorite
					beverage, draw or write, play some music, or get yourself a little
					treat. In my office, I always have games, drinks, snacks, fidgets, and
					a plush BLÅHAJ to make you feel grounded while we work together.
				</p>
			</section>
			<section>
				<h2>Services I Offer</h2>
				<div class="info-container">
					<div class="info-sub-container">
						<h3>Intake Session</h3>
						<p>$200 | 60 minutes</p>
						<p>Standard intake appointment, held virtually or in-office.</p>
					</div>
					<div class="info-sub-container">
						<h3>Individual Session</h3>
						<p>$130 | 60 minutes</p>
						<p>
							Standard therapy appointment, held virtually or in-office.
							Extended sessions of 75, 90, or 120 minutes may be available
							for an additional fee.
						</p>
					</div>
					<div class="info-sub-container">
						<h3>Family/ Couples Session</h3>
						<p>$170 | 60 minutes</p>
						<p>
							Standard therapy appointment for partners and families, held
							virtually or in-office. Extended sessions of 75, 90, or 120
							minutes may be available for an additional fee.
						</p>
					</div>
				</div>
			</section>
			<section>
				<h2>FAQs</h2>
				<div class="dropdown-container-rev">
					<img
						src="../assets/raw/couch-office.jpg"
						alt="image of a calm couch office setting" />
					<div>
						<details>
							<summary>
								What are your standard rates for therapy services?
							</summary>
							<ul>
								<li>Intake session (60 minutes+): $200</li>
								<li>60 minute individual session: $130</li>
								<li>60 minute family or partners session: $170</li>
								<li>
									Extended sessions of 75, 90, or 120 minutes may be
									available for an additional fee.
								</li>
								<li>
									Sliding scale and payment options are usually
									available.
								</li>
							</ul>
						</details>
						<details>
							<summary>Do you offer chemistry calls?</summary>
							<ul>
								<li>
									Yes! I offer free 15-minute chemistry or consultation
									calls to talk about your goals, what you're looking
									for in a therapist, and see if we'd be a good match.
									Click
									<a
										class="link-inline"
										target="_blank"
										href="https://rainbowtc.sessionshealth.com"
										>here</a
									>
									to book your consultation!
								</li>
							</ul>
						</details>
						<details>
							<summary>Do you accept insurance?</summary>
							<ul>
								<li>
									At this time, I do not accept insurance, but I provide
									super-bills through Sessions Health to make insurance
									reimbursement easier for folx with out-of-network plan
									coverage. I also offer a select number of sliding
									scale sessions weekly for folx who have more limited
									income to cover necessities. Please contact me for
									more information or to check availability!
								</li>
							</ul>
						</details>
						<details>
							<summary>How do I pay for services?</summary>
							<ul>
								<li>
									I accept Venmo, PayPal, all major credit or debit
									cards via Stripe, and HSA and FSA!
								</li>
							</ul>
						</details>
						<details>
							<summary>What is your cancellation policy?</summary>
							<ul>
								<li>
									I request cancellations are made at least 24 hours in
									advance. I forgive first-time late-cancellations or
									missed sessions, and each subsequent cancellation is
									subject to the total session fee. When availability
									permits, I waive the cancellation fee if the session
									is rescheduled within the same calendar week.
								</li>
							</ul>
						</details>
						<details>
							<summary>Are your sessions in-person or virtual?</summary>
							<ul>
								<li>
									I currently offer both in-person sessions at my office
									in Wethersfield, CT and virtual sessions to all
									residents located within the states of Connecticut or
									Massachusetts. I utilize HIPAA-compliant virtual
									health platforms for all client sessions and
									documentation, such as the electronic health record
									system, Sessions Health, in tandem with Google Meets.
								</li>
								<li>
									I provide individual ecotherapy sessions in-person in
									a mutually agreed-upon location. These are made
									available by request April through October when
									weather and season permits for folx at state and
									municipal parks located in the Central Connecticut
									region (Hartford, New Haven, Middlesex, and Tolland
									counties).
								</li>
								<li>I do not provide in-person services at this time.</li>
							</ul>
						</details>
						<details>
							<summary>What are your office hours?</summary>
							<ul>
								<li>
									My typical office hours are Mondays, Tuesdays,
									Wednesdays, and Fridays from 8:00am to 8:00pm EST, and
									closed for weekends and major holidays.
								</li>
							</ul>
						</details>
					</div>
				</div>
			</section>
		</main>
		<!-- Footer -->
		<footer>
			<div id="footer-container">
				<div id="footer-header-container">
					<h2>Therapy for adults across Connecticut and Massachusetts</h2>
					<h2>Virtual consultation for professionals nationwide</h2>
				</div>
				<div id="footer-contact-container">
					<div id="footer-contact-left">
						<p>
							<span class="footer-bold-label">Call: </span>
							+1-203-275-9722
						</p>
						<p>
							<span class="footer-bold-label">Email: </span>
							<a href="mailto:britt@rainbowtandc.com">
								britt@rainbowtandc.com
							</a>
						</p>
						<address>
							268 Post Road, STE 200
							<br />
							Fairfield, CT, 06824 USA
							<br />
						</address>
						<div id="footer-media-container">
							<a
								target="_blank"
								href="https://www.instagram.com/the_rainbow_therapist">
								<img
									src="../assets/raw/icons/instagram-icon.png"
									alt="image of instagram logo" />
							</a>
							<a
								target="_blank"
								href="https://www.facebook.com/people/Rainbow-Therapy-Consulting-PLLC/61584399960852">
								<img
									src="../assets/raw/icons/facebook-logo.png"
									alt="image of facebook logo" />
							</a>
						</div>
					</div>
					<div id="footer-contact-middle">
						<img
							src="../assets/raw/Pride Flag.jpg"
							alt="image of the pride flag" />
					</div>
					<div id="footer-contact-right">
						<a href="mailto:britt@rainbowtandc.com">CONTACT</a>
						<a target="_blank" href="https://rainbowtc.sessionshealth.com">
							BOOK YOUR SESSION
						</a>
						<a href="#">TERMS OF USE</a>
						<a href="#">PRIVACY POLICY</a>
						<a href="#">LEGAL DISCLAIMER</a>
						<a href="#">NO SURPRISES ACT</a>
					</div>
				</div>
			</div>
		</footer>
		<script defer src="../script.js"></script>
	</body>
</html>
